api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/npm-install"
  id = "paketo-buildpacks/npm-install"
  name = "Paketo Buildpack for NPM Install"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/npm-install/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "bin/setup-symlinks", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.configurations]]
    name = "BP_DISABLE_SBOM"
    default = "false"
    description = "disables generation of SBOM documents during the build process"

  [[metadata.configurations]]
    name = "BP_LOG_LEVEL"
    default = "INFO"
    description = "configures buildpack output verbosity. options include INFO and DEBUG"

  [[metadata.configurations]]
	  name = "BP_NODE_PROJECT_PATH"
    description = "path to the root of the Node.js project"

	[[metadata.configurations]]
    name = "BP_NPM_VERSION"
    description = "configures a custom npm version"

	[[metadata.configurations]]
    name = "BP_KEEP_NODE_BUILD_CACHE"
    default = "false"
    description = "keep the 'node_modules/.cache' folder after the build (will be readonly at runtime)'"

  [[metadata.configurations]]
	  name = "NODE_HOME"
    description = "path the Node.js installation"

  [[metadata.configurations]]
    name = "NPM_CONFIG_GLOBALCONFIG"
    description = "configures npm to read this file for global config options"

	[[metadata.configurations]]
    name = "NPM_CONFIG_LOGLEVEL"
    default = "error"
    description = "configures npm output verbosity"


[[stacks]]
  id = "*"
